<iframe src="https://player.vimeo.com/video/169370260" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<p><a href="https://s3.amazonaws.com/one-month-stripe-payments/LawrenceMurryResume.pdf">Lawrence Murry Resume</a> from <a href="http://lawrencemurry.com">Lawrence Murry</a>.</p>
