<p>This is your purchase</p>

<p>Your purchase is <%= @purchase.inspect %></p>

And this is <p><a href="https://s3.amazonaws.com/one-month-ecommerce/Lawrence+Murry+Resume+(3).pdf">your file</a></p>